<section class="opening-hours">
    <div class="container">
        <h2>Horário de Funcionamento</h2>
        <ul class="hours-list">
            <li>
                <span class="day">Segunda a Sexta:</span>
                <span class="time">08:00 - 20:00</span>
            </li>
            <li>
                <span class="day">Sábado:</span>
                <span class="time">09:00 - 18:00</span>
            </li>
            <li>
                <span class="day">Domingo:</span>
                <span class="time">Fechado</span>
            </li>
        </ul>
    </div>
</section>